.Background {
    background-color: #5089cd;
}

.Footer {
    z-index: 10;
    background-color: #5089cd;
    height: 5.5em;
    font-size: 1em;
    color: white;
    text-align: center;
}

.Paragraph {
    color: white;
    padding-top: 2rem;
}
