.Card {
    height: 18rem;
    margin: 2rem;
    border-radius: 10px;
    background-color: rgba(243, 246, 250, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.CardImage {
    width: 30%;
    margin-top: 1.5rem;
}
.Card h2 {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.5rem;
    color: #5089cd;
}
.Card p {
    margin: 0 1rem;
    color: black;
    text-align: center;
}

@media (min-width: 768px) {
    .Card {
        height: 19.5rem;
        width: 50%;
        display: inline-block;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
    .Card p {
        width: 70%;
        margin: 0 auto;
    }
    .CardImage {
        width: 25%;
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .Card {
        height: 21.5rem;
        transition: all 0.2s;
    }
    .CardImage {
        width: 25%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .Card p {
        width: 65%;
        margin: 0 auto;
    }

    .Card:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
}
