.Background {
    background: url("../../assets/backgundWithEffect.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.HeadText {
    width: 90%;
    margin-bottom: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    transform: translate(-50%, -50%);
}

.DownArrow {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    margin-left: 49vw;
}

@media only screen and (min-width: 500px) {
    .HeadText {
        font-size: 3rem;
    }
}
@media only screen and (min-width: 768px) {
    .HeadText {
        font-size: 3.5rem;
    }
}
